.vscode
PetroServer/bin/Debug/net9.0/
PetroServer/obj
PetroServer/.vs
MQTTHandler/bin/Debug/net9.0/
MQTTHandler/obj
MQTTHandler/.vs
Mosquitto/simulator/venv
YarpGateway/bin/Debug/net9.0/
YarpGateway/obj
YarpGateway/.vs
.vs