<div class="py-2 px-3 w-full max-h-[calc(100%-5rem)] h-[calc(100%-5rem)] relative overflow-y-scroll bg-[#F5F5F5]">
    <div class="flex mt-1">
        <div class="shadow-xl rounded-md p-5 bg-white h-[50%] max-h-[50%] w-3xl max-w-3xl">
            <div class="text-[#4DA8DA] font-semibold text-xl select-none pb-3">Dispenser's status</div>
            <div class="w-full overflow-y-scroll max-h-55 overflow-auto relative">
                @if (isDispenserLoading) {
                <div class="loader absolute top-1/2 left-1/2 -translate-1/2 border-yellow-500 border-b-transparent">
                </div>
                }
                @else{
                <table
                    class="h-50 border-t border-t-black border-separate border-spacing-0 **:[thead>tr>th,tbody>tr>td]:border-b **:[thead>tr>th,tbody>tr>td]:py-3 **:[thead>tr>th,tbody>tr>td]:whitespace-nowrap **:[thead>tr>th,tbody>tr>td]:select-none mx-auto">
                    <thead class="sticky top-0">
                        <tr class="**:bg-[#4DA8DA]">
                            <th class="px-4">Number</th>
                            <th class="px-4">Status</th>
                            <th class="px-7">Liter</th>
                            <th class="px-5">Price</th>
                            <th class="px-10">Total price</th>
                            <th class="">Fuel</th>
                            <th class="px-4">Tank</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @for (dispenser of dispenserList; track dispenser.name) {
                        <tr class="even:**:bg-gray-300 hover:scale-102 duration-200">
                            <td class="text-center">{{dispenser.name}}</td>
                            <td class="text-center">{{dispenser.status ?? "N/A"}}</td>
                            <td class="pl-8">{{dispenser.liter ?? "N/A"}}</td>
                            <td class="text-center">{{dispenser.price}}</td>
                            <td class="pl-15">{{dispenser.totalAmount ?? "N/A"}}</td>
                            <td class="pl-4">{{dispenser.longName}}</td>
                            <td class="px-7">{{dispenser.shortName}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                }
            </div>
        </div>
        <div class="shadow-xl rounded-md p-5 bg-white h-[50%] max-h-[30%] w-xl max-w-3xl ml-1">
            <div class="text-[#4DA8DA] font-semibold text-xl select-none pb-3">Dữ liệu trong ca</div>
            <div class="flex pb-2.5">
                <div style="width: 400px; height: 210px; margin-left: 25px;">
                    <h3>Biểu đồ thống kê doanh thu</h3>
                    <canvas baseChart style="margin-bottom: 3px;" [data]="revenueChartData" [options]="pieChartOptions"
                        [type]="'pie'">
                    </canvas>
                </div>
                <div style="width: 250px; height: 210px; margin-left: 10px;">
                    <h3>Biểu đồ thống kê nhiên liệu</h3>
                    <canvas baseChart style="margin-bottom: 3px;" [data]="fuelChartData" [options]="pieChartOptions"
                        [type]="'pie'">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="flex mt-1">
        <div class="shadow-xl top-1/2 rounded-md p-5 bg-white h-[50%] max-h-[50%] w-xl max-w-xl">
            <div class="text-[#4DA8DA] font-semibold text-xl select-none pb-3">Tank's status</div>
            <div class="w-full max-h-55 overflow-auto relative">
                @if (isTankLoading) {
                <div class="loader absolute top-1/2 left-1/2 -translate-1/2 border-yellow-500 border-b-transparent">
                </div>
                }
                @else{
                <table
                    class="table-auto border-t border-t-black border-separate border-spacing-0 **:[thead>tr>th,tbody>tr>td]:border-b **:[thead>tr>th,tbody>tr>td]:py-3 **:[thead>tr>th,tbody>tr>td]:whitespace-nowrap **:[thead>tr>th,tbody>tr>td]:select-none mx-auto">
                    <thead class="sticky top-0">
                        <tr class="**:bg-[#4DA8DA]">
                            <th class="px-2">Number</th>
                            <th class="px-5">Fuel</th>
                            <th class="px-7">Status (%)</th>
                            <th class="px-5">V_current</th>
                            <th class="px-7">V_max</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @for (tank of tankList; track tank.name) {
                        <tr class="even:**:bg-gray-300 hover:scale-102 duration-200">
                            <td class="text-center">{{tank.name}}</td>
                            <td class="pl-7">{{tank.shortName}}</td>
                            <td class="pl-5">
                                <div class="w-full !bg-gray-500 rounded-md h-full z-10">
                                    <div class="!bg-green-500 h-full rounded-md text-center text-white duration-200"
                                        [style.width]="(tank.percentage ?? '0') + '%'">{{tank.percentage ?? 'N/A'}}%
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{tank.currentVolume}}</td>
                            <td class="text-center">{{tank.maxVolume}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                }
            </div>
        </div>
        <div class="shadow-xl right-0 top-1/2 rounded-md p-5 bg-white h-[50%] max-h-[50%] w-3xl max-w-3xl ml-1">
            <div class="text-[#4DA8DA] font-semibold text-xl pb-3">Logs</div>
            <div class="h-80 w-full overflow-y-scroll max-h-55 relative">
                @if (isLogLoading) {
                <div class="loader absolute top-1/2 left-1/2 -translate-1/2 border-yellow-500 border-b-transparent">
                </div>
                }
                @else{
                <table
                    class="border-t border-t-black border-separate border-spacing-0 **:[thead>tr>th,tbody>tr>td]:border-b **:[thead>tr>th,tbody>tr>td]:py-3 **:[thead>tr>th,tbody>tr>td]:whitespace-nowrap **:[thead>tr>th,tbody>tr>td]:select-none mx-auto">
                    <thead class="sticky top-0">
                        <tr class="**:bg-[#4DA8DA]">
                            <th class="px-2">Dispenser</th>
                            <th class="px-5">Fuel</th>
                            <th class="px-5">Total liters</th>
                            <th class="px-5">Price</th>
                            <th class="px-5">Total amount</th>
                            <th class="px-20">Time</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr *ngFor="let item of logList" class="border-t hover:bg-gray-50">
                            <td class="px-4 py-2">{{ item.Name }}</td>
                            <td class="px-4 py-2">{{ item.FuelName }}</td>
                            <td class="px-4 py-2">{{ item.TotalLiters | number:'1.2-2' }}</td>
                            <td class="px-4 py-2">{{ item.Price | number:'1.0-0' }}</td>
                            <td class="px-4 py-2">{{ item.TotalAmount | number:'1.0-0' }}</td>
                            <td class="px-4 py-2">{{ item.Time | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        </tr>
                    </tbody>
                </table>
                }
            </div>
        </div>
    </div>
</div>