<div class="py-2 px-5 w-full max-h-[calc(100%-5rem)] h-[calc(100%-5rem)] relative overflow-y-scroll">
    @if (isStationLoading){
        <div class="loader border-amber-500 border-b-transparent absolute top-1/2 left-1/2 -translate-1/2"></div>
    }
    @else {
        <div class="grid grid-cols-4 gap-x-5 gap-3">
            @for(station of stationList;track station.stationId){
                <div class="border rounded-md shadow-xl p-5 space-y-2 bg-[#F5F5F5] flex flex-col justify-between">
                    <div class="flex justify-center">
                      <img src="gas-station.png" alt="Gas station image" class="size-14 w-24 h-auto text-center">
                    </div>
                    <div class="font-semibold text-2xl">{{station.name}}</div>
                    <div class="italic wrap-break-word h-fit">{{station.address}}</div>
                    <div class="flex justify-between items-center **:items-center mt-4">
                        <a class="bg-[#80D8C3] text-white px-5 py-3 rounded-md shadow-xl hover:cursor-pointer duration-200 hover:bg-[#99d6c8] hover:-translate-y-1 w-fit" [routerLink]="['/user/station',station.stationId]" [queryParams]="{name: station.name,address: station.address}">View</a>
                        <div class="flex space-x-3 -mb-3">
                            <a [routerLink]="['./edit',station.stationId]" [queryParams]="{name: station.name, address: station.address}">                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="size-7 hover:cursor-pointer duration-200 hover:-translate-y-1"><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>                            </a>
                            <a [routerLink]="['./delete',station.stationId]" [queryParams]="{name: station.name}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="size-7 hover:cursor-pointer duration-200 hover:-translate-y-1"><path class=" fill-[#FF7601]" d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<router-outlet></router-outlet>