<div class="absolute top-1/2 left-1/2 -translate-1/2 h-screen w-screen bg-gray-500/30">
  <h1>Hello</h1>
</div>

@if (isOpenErrorModal) {
<div
  class="absolute top-5 right-10 border-1 rounded-md border-red-500 bg-red-200 py-3 flex items-center px-3 space-x-4 shadow-xl duration-200 *:not-[img[alt='Close_icon']]:select-none">
  <img src="mark.png" alt="Warning icon" class="size-12">
  <div class="">
    <div class="font-bold text-red-900">Error:</div>
    <div class="text-red-900">
      Cannot delete the station!
    </div>
  </div>
  <img src="close.png" alt="Close icon" class="size-3 hover:cursor-pointer" (click)="isOpenErrorModal = false">
</div>
}