<div class="fixed inset-0 bg-gray-500/30 flex items-center justify-center z-50">
  <div class="bg-white rounded-md p-6 w-1/2">
    <h2 class="text-2xl mr-3 text-violet-600 font-bold text-center">Report station: {{ this.id }}</h2>
    <h2 class="text-2xl text-violet-600 font-bold text-center">Năm: {{ this.year }}</h2>
    <div class="flex flex-nowrap justify-between px-5 pt-5">
      <div class="relative w-full max-w-xs">
        <canvas *ngIf="pieChartFuelYearData?.datasets?.length > 0 && pieChartFuelYearData.datasets[0]?.data?.length > 0"
          baseChart [type]="'pie'" [data]="pieChartFuelYearData" [options]="PieChartFuelOption" class="w-full max-w-xs">
        </canvas>
        <div *ngIf="!pieChartFuelYearData?.datasets?.length || !pieChartFuelYearData.datasets[0]?.data?.length"
          class="absolute inset-0 flex justify-center items-center bg-white bg-opacity-80 z-10 rounded-xl">
          <h1 class="text-gray-400 text-xl font-bold text-center">Không có dữ liệu</h1>
        </div>
      </div>

      <div class="relative w-full max-w-xs">
        <canvas baseChart [type]="'pie'" [data]="pieChartTypeYearData" [options]="PieChartFuelOption"
          class="w-full max-w-xs">
        </canvas>
        <div *ngIf="!pieChartTypeYearData?.datasets?.length || !pieChartTypeYearData.datasets[0]?.data?.length"
          class="absolute inset-0 flex justify-center items-center bg-white bg-opacity-80 z-10 rounded-xl">
          <h1 class="text-gray-400 text-xl font-bold text-center">Không có dữ liệu</h1>
        </div>
      </div>
    </div>
  </div>