<div class="py-2 px-5 w-full max-h-[calc(100%-5rem)] h-[calc(100%-5rem)] relative overflow-y-scroll bg-[#F5F5F5]">
    <!-- <div class="my-4 flex space-x-4">
        <label class="block mb-1 font-bold text-lg">Select option:</label>
        <select [(ngModel)]="selectedTimeFilter" class="border px-2 py-1 rounded" (change)="onTimeFilterChange()">
            <option value="" class="items-center">---- All ----</option>
            <option value="day">Select date</option>
            <option value="range">Period of time</option>
            <option value="logtype">Log type name</option>
            <option value="fuelname">Fuel name</option>
            <option value="dispenser">Dispenser name</option>
        </select>
        <div class="flex items-center">
            <button (click)="clearFilters()"
                class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">Reset</button>
        </div>
    </div>
    <div *ngIf="selectedTimeFilter === 'range'" class="flex space-x-4 mb-4 items-center">
        <label class="mb-1 inline-block align-middle font-medium">From date:</label>
        <input datepicker type="date" [(ngModel)]="filter.fromDate" class="border px-2 py-1 rounded" />
        <label class="block mb-1 font-medium">To date:</label>
        <input type="date" [(ngModel)]="filter.toDate" class="border px-2 py-1 rounded" />
        <div class="flex items-end">
            <button (click)="applyDateFilter()" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">
                Filter
            </button>
        </div>
    </div>
    <div *ngIf="selectedTimeFilter === 'logtype'" class="flex space-x-4 mb-4">
        <label class="block mb-1 font-medium">Filter by Log Name:</label>
        <select [(ngModel)]="selectedLogType" (change)="applyLogTypeFilter()" class="border px-2 py-1 rounded w-48">
            <option value="">All LogName</option>
            <option *ngFor="let type of logTypeList" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div *ngIf="selectedTimeFilter === 'fuelname'" class="flex space-x-4 mb-4">
        <label class="block mb-1 font-medium">Filter by Fuel Name:</label>
        <select [(ngModel)]="fuelFilter" (change)="filterByFuel()" class="border px-2 py-1">
            <option value="">All fuel</option>
            <option *ngFor="let fuel of fuelList" [value]="fuel">{{ fuel }}</option>
        </select>
    </div>
    <div *ngIf="selectedTimeFilter === 'day'" class="flex space-x-4 mb-4">
        <label class="block mb-1 font-medium">Select date:</label>
         <input type="date" id="myDate" [(ngModel)]="selectedDate" (change)="filterBySingleDate()" -->
        <!-- class="border px-2 py-1" />
    </div>
    <div *ngIf="selectedTimeFilter === 'dispenser'" class="flex space-x-4 mb-4">
        <label class="block mb-1 font-medium">Dispenser name: </label>
        <select [(ngModel)]="selectedPump" (change)="filterByPump()" class="border px-2 py-1 rounded w-48">
            <option value="">All</option>
            <option *ngFor="let pump of pumpList" [value]="pump">{{ pump }}</option>
        </select>
    </div> --> 

    <table
        class=" w-full border-t border-t-black border-separate border-spacing-0 **:[thead>tr>th,tbody>tr>td]:border-b **:[thead>tr>th,tbody>tr>td]:py-3 **:[thead>tr>th,tbody>tr>td]:whitespace-nowrap **:[thead>tr>th,tbody>tr>td]:select-none mx-auto">
        <thead class="sticky top-2 bg-gray-300 text-gray-800 font-semibold text-sm uppercase shadow-sm z-10">
            <tr>
                <th class="px-2 py-3 text-center border-b border-gray-300">Dispenser</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Fuel</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Total liters</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Price</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Total amount</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Log Name</th>
                <th class="px-20 py-3 text-center border-b border-gray-300">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pagedList | paginate: { id: 'stationLogs', itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }"
                class="border-t hover:bg-gray-50 text-center">
                <td>{{ item.name }}</td>
                <td>{{ item.fuelName }}</td>
                <td>{{ item.totalLiters | number:'1.2-2' }}</td>
                <td>{{ item.price | number:'1.0-0' }}</td>
                <td>{{ item.totalAmount | number:'1.0-0' }}</td>
                <td class="justify-items-center">
                    <p [ngClass]="getLogTypeClass(item.logTypeName)" class="text-center font-medium px-2 py-1 rounded">
                        {{ item.logTypeName }}</p>
                </td>
                <td>{{ item.time | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            </tr>
        </tbody>
        <tr class="">
            <td colspan="7" class="text-center">
                <div class="flex justify-center items-center pt-4">
                    <pagination-controls id="stationLogs" (pageChange)="onPageChange($event)"></pagination-controls>
                </div>
            </td>
        </tr>
    </table>
</div>