<div class="py-2 px-5 w-full max-h-[calc(100%-5rem)] h-[calc(100%-5rem)] relative overflow-y-scroll bg-[#F5F5F5]">
    <div class="flex space-x-4 mb-4">
        <label for="dispenser">Select dispenser: </label>
        <select id="dispenser" [(ngModel)]="selectedDispenserName" (change)="loaddispenserhttp(1)"
            class="border px-2 py-1 rounded w-48">
            <option *ngFor="let name of dispenserName" [value]="name">
                {{ name }}
            </option>
        </select>
    </div>

    <div class="flex space-x-4 mb-4">
        <label for="fuel">Select fuelName: </label>
        <select id="fuel" [(ngModel)]="selectedFuelName" (change)="loadfuelhttp(1)"
            class="border px-2 py-1 rounded w-48">
            <option *ngFor="let name of fuelNames" [value]="name">
                {{ name }}
            </option>
        </select>
    </div>

    <div class="flex space-x-4 mb-4">
        <label for="logType">Select log type:</label>
        <select id="logType" [(ngModel)]="selectedLogType" (change)="loadtypehttp(1)"
            class="border px-2 py-1 rounded w-48">
            <option *ngFor="let type of logTypeList" [ngValue]="type">{{ type.logTypeName }}</option>
        </select>
    </div>

    <div class="flex items-center space-x-4 mb-4">
        <label>From:</label>
        <input type="date" [(ngModel)]="startDate" class="border px-2 py-1 rounded" />

        <label>To:</label>
        <input type="date" [(ngModel)]="endDate" class="border px-2 py-1 rounded" />

        <button (click)="loadLogsByPeriodhttp(1)" class="bg-blue-500 text-white px-4 py-1 rounded">
            Filter
        </button>
    </div>

    <div class="flex items-center space-x-4 mb-4">
        <label>Select date:</label>
        <input id="datePicker" type="date" [(ngModel)]="selectedDate" (ngModelChange)="loadLogsByDatehhttp(1)"
            class="border px-2 py-1 rounded" />
    </div>
    <button (click)="clearFilters()" class="bg-blue-700 px-3 py-2 rounded-xl text-white">Reset</button>
    <table
        class=" w-full border-t border-t-black border-separate border-spacing-0 **:[thead>tr>th,tbody>tr>td]:border-b **:[thead>tr>th,tbody>tr>td]:py-3 **:[thead>tr>th,tbody>tr>td]:whitespace-nowrap **:[thead>tr>th,tbody>tr>td]:select-none mx-auto">
        <thead class="sticky top-2 bg-gray-300 text-gray-800 font-semibold text-sm uppercase shadow-sm z-10">
            <tr>
                <th class="px-2 py-3 text-center border-b border-gray-300">Dispenser</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Fuel</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Total liters</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Price</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Total amount</th>
                <th class="px-5 py-3 text-center border-b border-gray-300">Log Name</th>
                <th class="px-20 py-3 text-center border-b border-gray-300">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pagedList | paginate: { id: 'stationLogs', itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }"
                class="border-t hover:bg-gray-50 text-center">
                <td>{{ item.name }}</td>
                <td>{{ item.fuelName }}</td>
                <td>{{ item.totalLiters | number:'1.2-2' }}</td>
                <td>{{ item.price | number:'1.0-0' }}</td>
                <td>{{ item.totalAmount | number:'1.0-0' }}</td>
                <td class="justify-items-center">
                    <p [ngClass]="getLogTypeClass(item.logTypeName)" class="text-center font-medium px-2 py-1 rounded">
                        {{ item.logTypeName }}</p>
                </td>
                <td>{{ item.time | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            </tr>
        </tbody>
        <tr class="">
            <td colspan="7" class="text-center">
                <div class="flex justify-center items-center pt-4">
                    <pagination-controls id="stationLogs" (pageChange)="onPageChange($event)"></pagination-controls>
                </div>
            </td>
        </tr>
    </table>
</div>